[Unit]
Description=Forklift Safety Central Server
After=network-online.target mosquitto.service
Wants=network-online.target
Requires=mosquitto.service

[Service]
Type=simple
ExecStart=@BIN_DIR@/forklift_safety_server --config-dir @CONFIG_ROOT@/safety --common-config-dir @CONFIG_ROOT@
WorkingDirectory=@APP_ROOT@
Restart=always
RestartSec=2
User=@SERVICE_USER@
Group=@SERVICE_GROUP@
Environment=FORKLIFT_SAFETY_DATA_DIR=@LOG_ROOT@
LimitNOFILE=65536
Environment=GIO_USE_PROXY_RESOLVER=dummy
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
